// Flex Mixins

@mixin flex-center($direction: row, $justify: center, $align: center) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin icon-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: inherit; //adjust this later
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		opacity: 0.7;
	}

	&:focus-visible {
		outline: 2px solid currentColor;
		outline-offset: 2px;
	}
}
