// Breakpoint Mixins
@mixin mobile-xs {
	@media (max-width: #{$breakpoint-sm - 1px}) {
		@content;
	}
}

@mixin mobile-sm {
	@media (max-width: #{$breakpoint-md - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$breakpoint-lg - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $breakpoint-lg) {
		@content;
	}
}

@mixin desktop-xl {
	@media (min-width: $breakpoint-xl) {
		@content;
	}
}
