// Spacings with 8px as a baseline.
$spacing-xs: 0.25rem; // 4px
$spacing-sm: 0.5rem; // 8px
$spacing-m: 1rem; // 16px
$spacing-mr: 1.5rem; // 24px mr for medium rare
$spacing-l: 2rem; // 32px
$spacing-xl: 4rem; // 64px
$spacing-xxl: 8rem; // 128px
