@use "../../grids" as *;
@use "../../breakpoints" as *;

.contentSection {
	box-sizing: border-box;
	@include grid-center;
	grid-column: span 12;
	display: grid;
	grid-template-columns: (1fr 1fr);
	aspect-ratio: 2;

	@include tablet {
		grid-template-rows: 1fr;
		aspect-ratio: 2;
	}
}
