@use "../../../styles/mixins" as *;
@use "../../../styles/spacing" as *;
@use "../../../styles/breakpoints" as *;
@use "../../../styles/grids" as *;
@use "../../../styles/colors" as *;

.navbar {
	width: 100%;
	max-height: $spacing-xxl;
	color: $color-text-primary;
	background-color: $color-surface-main;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	svg {
		color: $color-text-secondary;
		&:hover {
			color: $color-text-primary;
		}
	}
}

.mobileMenu {
	@include grid-container;
	display: grid;
	place-items: center;
	@include desktop {
		display: none;
	}

	.hamburgerMenu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 998;
		background-color: $color-surface-main;
		@include grid-container;
		margin: 0;
		max-width: 100%;
		display: flex;
		flex-direction: column;

		.hamburgerMenuItem {
			margin-bottom: 1rem;
			max-width: $grid-max-width-lg;
			&:last-child {
				margin-bottom: 2rem;
			}
		}
	}
}

.desktopMenu {
	@include grid-container;
	display: none;
	@include desktop {
		display: grid;
	}
}

.logoSection {
	grid-column: span 11;
}
